<!-- templates/contact.html -->
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Contact Admin</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div>
            <img src="{{ url_for('static', filename='home.jpg') }}" alt="Home">
        </div>
        <div id="cache-status"></div>
    </div>
    <h1>Post a message to contact the admin</h1>
    <form method="POST">
        <label for="message">Your message:</label><br>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Send</button>
    </form>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            <li class="{{ messages[0][0] }}">{{ messages[0][1] }}</li>
        </ul>
    {% endif %}
{% endwith %}
    <p><a href="{{ url_for('secret') }}">Back to secret</a></p>
    <p><a href="{{ url_for('get_latest_message') }}">See last message read by the admin</a></p>
    <script> src="{{url_for('static', filename='script.js')}}"</script>
</body>
</html>
