<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            <li class="{{ messages[0][0] }}">{{ messages[0][1] }}</li>
        </ul>
    {% endif %}
{% endwith %}
    <p><a href="{{ url_for('login') }}">Already register ? Login</a></p>
</body>
</html>
