<!-- templates/secret.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Votre Secret</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div>
            <img src="{{ url_for('static', filename='dice.jpeg') }}" alt="Dice">
        </div>
        <div id="cache-status"></div>
    </div>
    <h1>Votre Secret</h1>
    <p>{{ secret }}</p>
    <p><a href="{{ url_for('contact') }}">Contacter l'admin</a></p>
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Se déconnecter</button>
    </form>
    <script src="{{url_for('static', filename='welcomer.js')}}"></script>
</body>
</html>
